<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871037032513-cq3bmejv12c5211ibc1ts0og9nn82mqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871037032513-cq3bmejv12c5211ibc1ts0og9nn82mqp</string>
	<key>API_KEY</key>
	<string>AIzaSyDLC6wFlyJv_QGjbOsFw5NcUtL3inEzeo8</string>
	<key>GCM_SENDER_ID</key>
	<string>871037032513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cognitivestudio</string>
	<key>PROJECT_ID</key>
	<string>cognitivestudio-3119e</string>
	<key>STORAGE_BUCKET</key>
	<string>cognitivestudio-3119e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871037032513:ios:7a5cc977ebea7402190ec0</string>
	<key>DATABASE_URL</key>
	<string>https://cognitivestudio-3119e-default-rtdb.firebaseio.com</string>
</dict>
</plist>